<div style="text-align: end;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Mantenimiento</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Módulos</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<br>

<div class="card shadow-container">
  <div class="card-body">
    <span class="card-title" style="font-weight: 600">Filtros de búsqueda</span>

    <div nz-row [nzGutter]="24">

      <div nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-form-item>
          <nz-form-label>Modulo</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input
              nz-input
              type="text"
              placeholder="Modulo"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-form-item>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Todos"
            >
            <nz-option nzValue="1" nzLabel="Activo"></nz-option>
            <nz-option nzValue="2" nzLabel="Inactivo"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

  </div>
</div>

<br>

<div nz-row class="mt-3 d-flex justify-content-center">
  <button nz-button nzType="primary">Buscar</button>
  &nbsp;&nbsp;&nbsp;
  <button nz-button nzType="default">Limpiar</button>
  &nbsp;&nbsp;&nbsp;
  <button nz-button (click)="showModal()" nzType="default">Nuevo registro</button>
</div>

<br>

<div class="card shadow-container mb-2">
  <div class="card-body">
    <span class="card-title" style="font-weight: 600">Resultado del listado de módulos:</span>
    <div class="mb-3">
      <nz-table
      >
        <thead>
          <tr>
            <th nzWidth="20%">Código</th>
            <th nzWidth="30%">Modulo</th>
            <th nzWidth="30%">Estado</th>
            <th style="text-align: center" nzWidth="20%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>Modulo 1</td>
            <td>Inactivo</td>
            <td style="text-align: center">
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Editar"
              >
              A
              </button>
              &nbsp;
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Desactivar"
                (click)="showActivarConfirm()"
              >
              B
              </button>
            </td>
          </tr>

          <tr>
            <td>001</td>
            <td>Modulo 2</td>
            <td>Inactivo</td>
            <td style="text-align: center">
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Editar"
              >
              A
              </button>
              &nbsp;
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Desactivar"
                (click)="showActivarConfirm()"
              >
              B
              </button>
            </td>
          </tr>

          <tr>
            <td>001</td>
            <td>Modulo 3</td>
            <td>Activo</td>
            <td style="text-align: center">
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Editar"
              >
              A
              </button>
              &nbsp;
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Desactivar"
                (click)="showDesactivarConfirm()"
              >
              B
              </button>
            </td>
          </tr>

          <tr>
            <td>001</td>
            <td>Modulo 4</td>
            <td>Activo</td>
            <td style="text-align: center">
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Editar"
              >
              A
              </button>
              &nbsp;
              <button
                nz-button nzType="default" nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Desactivar"
                (click)="showDesactivarConfirm()"
              >
              B
              </button>
            </td>
          </tr>

        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div class="paginacion">
  <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
  <span>Cantidad de registros {{index}} - {{size}}</span>
</div>

<ng-container *ngIf="isVisible">
  <app-modal-modulo
    (onGuardarAceptar)="onGuardarAceptar($event)"
    (onCerrarCancelar)="onCerrarCancelar($event)"
  >
  </app-modal-modulo>
</ng-container>
