<header class="header">
  <div class="logo">
    <i class="fa-solid fa-circle-user fa-5x"></i>

    <ul style="width: 100%">
      <li class="sub-menu"><h5>Bienvenido(a)</h5></li>
      <li class="sub-menu"><h5>{{ nombreUsuario }}</h5></li>
      <li class="sub-menu">
        <div class="row">
          <div class="col-md-1">
            <label><h5>Sede: </h5></label>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="col-md-3">
            <nz-select
              [nzSize]="size"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Seleccionar Sede"
            >
              <nz-option nzValue="1" nzLabel="Comas"></nz-option>
              <nz-option nzValue="2" nzLabel="Los olivos"></nz-option>
            </nz-select>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="col-md-1">
            <label><h5>Rol: </h5></label>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="col-md-3">
            <nz-select
              [nzSize]="size"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Seleccionar Rol"
            >
              <nz-option nzValue="1" nzLabel="Administrador"></nz-option>
            </nz-select>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <nav class="menu-sesion">
    <ul>
      <li class="sub-menu"><h5>Ultimo ingreso: {{ fechaUltimoIngreso }}</h5></li>
      <li class="sub-menu sesion"><a href="/auth/login"><h5>Cerrar sesión</h5></a></li>
    </ul>
  </nav>
</header>

<nz-content>
  <div style="text-align: center">
    <img src="../../../assets/images/logo-leograf.png" alt="" />
  </div>

  <div style="width: max">
    <div
      nz-row
      nzJustify="center"
      style="text-align: center"
      [nzGutter]="24"
      class="p-4"
    >
      <div nz-col>
        <nz-form-item>
          <a [routerLink]="['/admin/seguridad']">
            <img
              width="320"
              height="320"
              src="../../../../assets/images/Seguridad.jpg"
              alt="..."
              class="rounded-circle"
            />
          </a>
        </nz-form-item>
        <a [routerLink]="['/admin/seguridad']"
          ><h3 class="mt-3 mb-3">Seguridad</h3></a
        >
      </div>

      <div nz-col>
        <nz-form-item>
          <a [routerLink]="['/admin/tablas-maestras']">
            <img
              width="320"
              height="320"
              src="../../../../assets/images/Tablas-Maestras.jpg"
              alt=""
              class="rounded-circle"
            />
          </a>
        </nz-form-item>
        <a [routerLink]="['/admin/tablas-maestras']">
          <h3 class="mt-3 mb-3">Tablas Maestras</h3>
        </a>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <img
              width="320"
              height="320"
              src="../../../../assets/images/Inventario.jpg"
              alt=""
              class="rounded-circle"
            />
          </a>
        </nz-form-item>
        <h3 class="mt-3 mb-3">Inventario</h3>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <img
              width="320"
              height="320"
              src="../../../../assets/images/Produccion.jpg"
              alt=""
              class="rounded-circle"
            />
          </a>
        </nz-form-item>
        <h3 class="mt-3 mb-3">Producción</h3>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <img
              width="320"
              height="320"
              src="../../../../assets/images/Facturacion.jpg"
              alt=""
              class="rounded-circle"
            />
          </a>
        </nz-form-item>
        <h3 class="mt-3 mb-3">Facturación</h3>
      </div>
    </div>
  </div>
</nz-content>
