<header class="header">

  <div class="logo">
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
    <ul>
      <li class="sub-menu">Bienvenido(a)</li>
      <li class="sub-menu">{{nombreUsuario}}</li>
    </ul>
  </div>

  <nav class="menu-sesion">
    <ul>
      <li class="sub-menu">Ultimo ingreso: {{fechaUltimoIngreso}}</li>
      <li class="sub-menu sesion"><a href="/maestro">Cerrar sesión</a></li>
    </ul>
  </nav>

</header>

<nz-content>

  <div style="text-align: center;">
    <img src="../../../assets/images/logo-leograf.png" alt="">
  </div>

  <div style="width: max;">

    <div nz-row nzJustify="center" style="text-align: center;" [nzGutter]="24">
      <div nz-col>
        <nz-form-item>
          <a href="/admin/mantenimientos/roles">
            <div class="circulo">
              <span nz-icon nzType="lock" nzTheme="outline"></span>
            </div>
          </a>
        </nz-form-item>
        <p>Seguridad</p>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <div class="circulo">
              <span nz-icon nzType="menu" nzTheme="outline"></span>
            </div>
          </a>
        </nz-form-item>
        <p>Tablas maestras</p>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <div class="circulo">
              <span nz-icon nzType="inbox" nzTheme="outline"></span>
            </div>
          </a>
        </nz-form-item>
        <p>Inventario</p>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <div class="circulo">
              <span nz-icon nzType="border" nzTheme="outline"></span>
            </div>
          </a>
        </nz-form-item>
        <p>Producción</p>
      </div>

      <div nz-col>
        <nz-form-item>
          <a href="/maestro">
            <div class="circulo">
              <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
            </div>
          </a>
        </nz-form-item>
        <p>Facturación</p>
      </div>
    </div>

  </div>

</nz-content>
