<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>Title</nz-page-header-title>
  <nz-page-header-extra>
    <nz-space>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <span>Seguridad</span>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <span>Mantenimiento</span>
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Usuario</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<div class="p-3">
  <div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12 }">
    <div nz-col class="gutter-row" [nzSpan]="18">
      <div class="inner-box">
        <div class="bordered-div">
          <div class="p-3">

            <div nz-row class="mb-3" [nzGutter]="24">
              <div nz-col nzXs="24" nzMd="12" nzLg="12">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="10"
                    style="text-align: left"
                  >Tipo de documento</nz-form-label>
                  <nz-form-control [nzSpan]="14">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="Todos"
                      formControlName="cboAnio"
                    >
                      <ng-container>
                        <nz-option nzLabel="2024" [nzValue]="0"></nz-option>
                      </ng-container>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzXs="24" nzMd="12" nzLg="12">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="10"
                    style="text-align: left"
                  >N° de documento</nz-form-label>
                  <nz-form-control [nzSpan]="14">
                    <input
                      type="text"
                      nz-input
                      placeholder="N° de documento"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row class="mb-3" [nzGutter]="24">
              <div nz-col nzXs="24" nzMd="24" nzLg="24">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="5"
                    style="text-align: left"
                  >Nombres</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <input
                      type="text"
                      nz-input
                      placeholder="Nombres"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzXs="24" nzMd="24" nzLg="24">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="5"
                    style="text-align: left"
                  >Apellidos</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <input type="text" nz-input placeholder="Apellidos"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzXs="24" nzMd="24" nzLg="24">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="5"
                    style="text-align: left"
                  >Estado</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="Todos"
                      formControlName="cboAnio"
                    >
                      <ng-container>
                        <nz-option
                          nzLabel="data.Text"
                          [nzValue]="0"
                        ></nz-option>
                      </ng-container>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div class="mt-5">
        <div nz-row class="d-grid p-2">
          <div nz-col class="d-grid">
            <button class="btn btn-primary">
              <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Buscar
            </button>
          </div>
        </div>

        <div nz-row class="d-grid p-2">
          <div nz-col class="d-grid">
            <button class="btn btn-secondary">
              <i class="fa-solid fa-eraser"></i>&nbsp;&nbsp;Limpiar
            </button>
          </div>
        </div>

        <div nz-row class="d-grid p-2">
          <div nz-col class="d-grid">
            <button class="btn btn-primary" (click)="showModal()">
              <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Nuevo registro
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <h3>Resultado del listado de usuarios</h3>

  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Tipo de documento</th>
        <th>N° de documento</th>
        <th>Nombres y Apellidos</th>
        <th>¿Completó su registro?</th>
        <th>Estado</th>
        <th style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.document }}</td>
        <td>{{ data.numberOfDocument }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.registerComplete }}</td>
        <td>{{ data.statusDescription }}</td>
        <td style="text-align: center">
          <button
            *ngIf="data.active == 1 || data.active == 0 || data.active == 3"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Editar"
            (click)="showModal()"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            nz-button
            *ngIf="data.active == 2"
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Visualizar"
            (click)="showModal()"
          >
            <i class="fa-solid fa-eye"></i>
          </button>
          <button
            nz-button
            *ngIf="data.active == 1"
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Desactivar"
            (click)="DesactivarConfirm()"
          >
            <i class="fas fa-close"></i>
          </button>
          <button
            nz-button
            *ngIf="data.active == 2"
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Activar"
            (click)="ActivarConfirm()"
          >
            <i class="fas fa-check"></i>
          </button>
          <button
            nz-button
            *ngIf="data.active == 1"
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Asignar"
            (click)="asignarPermisos()"
          >
            <i class="fas fa-file-circle-plus"></i>
          </button>
          <button
            nz-button
            *ngIf="data.active == 3"
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Reenviar coreeo"
            (click)="reenviarCorreo()"
          >
            <i class="fas fa-envelope"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="d-flex justify-content-between">
    <nz-pagination
      [nzPageIndex]="3"
      [nzTotal]="500"
      nzShowSizeChanger
      [nzPageSize]="10"
    ></nz-pagination>
    <span>Cantidad de registros {{ index }} - {{ sizePagination }}</span>
  </div>
</div>
<ng-container *ngIf="isVisible">
  <app-modal-usuarios
    #modalAlerta
    nzMaskClosable="false"
    (onGuardarAceptar)="onGuardarAceptar($event)"
    (onCerrarCancelar)="onCerrarCancelar($event)"
  ></app-modal-usuarios>
</ng-container>

<ng-container *ngIf="isVisibleAsignarPermisos">
  <app-modal-asignar-permisos
  [isVisibleAsignarPermisos]="isVisibleAsignarPermisos"
  (onGuardarAceptarAsignarPermisos)="onGuardarAceptarAsignarPermisos($event)"
    (onGuardarAceptarAsignarPermisos)="onGuardarAceptarAsignarPermisos($event)">

  </app-modal-asignar-permisos>
</ng-container>
