   <h4 class="text-white bg-dark p-3 text-center font-weight-bold header-card-login">INICIAR SESIÓN</h4>
            <div class="p-4 mt-3">
              <form nz-form>
              <nz-form-item>
                <nz-form-label [nzSpan]="5">Usuario</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="18">
                  <input nz-input required class="border border-dark" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="5">Contraseña</nz-form-label>
                <nz-form-control [nzSpan]="18">

                  <nz-input-group [nzSuffix]="suffixTemplate" class="border border-dark">
                    <input
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                    />
                  </nz-input-group>

                  <ng-template #suffixTemplate>
                    <span
                      nz-icon
                      [nzType]="
                        passwordVisible ? 'eye-invisible' : 'eye'
                      "
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>

                </nz-form-control>
              </nz-form-item>
              <div class="text-center">
                <a href="/home" class="btn btn-primary d-inline-block mb-2"
                  >Ingresar</a
                >
                <br />
                <a href="/auth/recuperar-contrasenia" class="d-inline-block"
                  >¿Olvidaste tu contraseña? Recupérala aquí</a
                >
              </div>
            </form>
            </div>
