.bordered-div, .bordered-permisos-div {
  position: relative;
  border: 3px solid black;
  padding: 10px;
  display: inline-block;
  width: 100%;
}



.bordered-div::before {
  content: "Filtros de la búsqueda";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}

.bordered-permisos-div::before {
  content: "Asignar Permisos";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}

.grilla th{
  font-size: 10px;
}

.contenido{
  font-size: 12px;
}
