<div nz-row [nzJustify]="'center'">
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="10" [nzLg]="8" [nzXl]="6">
    <div class="mt-4">
      <img
        width="320"
        height="320"
        class="rounded-circle"
        src="../../../../assets/images/Seguridad.jpg" alt="" />
    </div>
    <div class="mt-3">
      <h1 class="text-center font-weight-bold">Seguridad</h1>
    </div>

  </div>

</div>

 <div class="mt-3">
      <p class="mx-auto font-weight-normal" style="max-width: 800px">
        Nuestro módulo de seguridad proporciona al administrador la capacidad de
        gestionar y modificar el contenido del sistema de manera eficiente. Con
        una interfaz intuitiva y funcionalidades avanzadas, garantizamos un
        entorno seguro y confiable para la gestión exclusiva del administrador.
      </p>
    </div>
