<div
  class="bg-image"
  style="background-image: url('../../../assets/images/bg-login.jpg')"
>
  <!-- <router-outlet></router-outlet> -->
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 14 }"></div>
    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 10 }">
      <div class="p-5 d-flex justify-content-center">
        <div class="card" style="width: 90%">
        <div class="card-header p-0 header-login bg-secondary"></div>
        <div class="p-2 d-flex justify-content-center">
          <img
            src="../../../assets/images/logo-leograf.png"
            alt=""
            width="300"
            class="img-fluid"
          />
        </div>
        <div class="card-body">
          <div class="border border-secondary p-4">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
