.bordered-div, .bordered-contrasenia {
  position: relative;
  border: 3px solid black;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.bordered-div::before {
  content: "Datos Personales";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}

.bordered-contrasenia::before {
  content: "Datos de contraseña";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}

.ant-form-item-label {
    padding-left: 0px !important;
}

