<h4 class="text-white bg-dark p-3 text-center font-weight-bold">
  COMPLETA TU REGISTRO
</h4>
<div class="p-4 mt-3">
  <form nz-form>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="input-wrapper">
  <label for="first" class="label-text">First</label>
  <div class="input-container">
    <div class="input-text" contenteditable="true"></div>
  </div>
</div>
      </div>
    </div>

    <div class="text-center">
      <a href="#" class="btn btn-primary d-inline-block mb-2">Ingresar</a>
      <br />
      <a href="#" class="d-inline-block"
        >¿Olvidaste tu contraseña? Recupérala aquí</a
      >
    </div>
  </form>
</div>
