  .input-wrapper {
    position: relative;
  }

  .input-container {
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 100%;
    margin: 10px;
    line-height: 2em; /* Ajusta según sea necesario */
    padding: 0 5px; /* Añade espacio interior para el texto */
    min-height: 2em; /* Ajusta según sea necesario */
    display: flex;
    align-items: center; /* Alinea verticalmente el texto */
  }

  .label-text {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
  }

  .input-text {
    border: none;
    background: none;
    flex: 1;
    outline: none; /* Evita el resaltado al hacer clic */
  }
