<nz-modal
  [(nzVisible)]="isVisible"
  nzWidth = "50%"
  [nzTitle]="modalTitle"
  [nzContent]="modalBody"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
>
  <ng-template #modalTitle>
    <span>{{ titleModal }}</span>
  </ng-template>

  <ng-template #modalBody>
    <ng-container>
      <form nz-form>
        <div nz-row [nzGutter]="24">

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label style="text-align: left !important;" [nzSpan]="4" nzRequired>Código</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <input
                  nz-input
                  type="text"
                  placeholder="Codigo"
                  />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label style="text-align: left !important;" [nzSpan]="4" nzRequired>Sede</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <input
                  nz-input
                  type="text"
                  placeholder="Sede"
                  />
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>
      </form>
    </ng-container>
  </ng-template>

  <ng-template #modalFooter>
    <div style="text-align: center">
      <button nz-button nzType="primary" (click)="showConfirm()">
        <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
      </button>
      <button
        nz-button
        nzType="default"
        (click)="handleCancel()"
      >
        <i class="fa-solid fa-ban"></i>&nbsp;&nbsp;Cancelar
      </button>
    </div>
  </ng-template>

</nz-modal>
