<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="356px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../../../assets/images/logo-leograf.png" alt="logo" />
      </a>
    </div>

    <div class="container-date" *ngIf="shouldShowContainerDate()">
      <h4 style="text-align: center;">Modulo: {{ moduloSeleccionado }}</h4>
    </div>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzTitle="Dashboard" nzIcon="dashboard">
        <a style="display: flex; align-items: center" href="admin/seguridad">
          <i nz-icon nzType="dashboard" style="margin-right: 8px"></i>
          <span>Inicio</span>
        </a>
      </li>

      <ng-container *ngIf="sidebarItems.length > 0; else noItems">
        <ng-container *ngFor="let item of sidebarItems">
          <li
            *ngIf="item.isSubMenu; else mainMenu"
            nz-submenu
            nzOpen
            nzTitle="{{ item.title }}"
            nzIcon="{{ item.icon }}"
          >
            <ul>
              <li
                nz-menu-item
                *ngFor="let child of item.children"
                [routerLink]="child.routerLink"
              >
                <a>{{ child.title }}</a>
              </li>
            </ul>
          </li>
          <ng-template #mainMenu>
            <li nz-menu-item [routerLink]="item.routerLink">
              <a>{{ item.title }}</a>
            </li>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #noItems>
        <p>No hay items disponibles.</p>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
  <div class="app-header" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="header-trigger" (click)="isCollapsed = !isCollapsed" style="display: flex; align-items: center;">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" style="margin-right: 8px;"></span>
      <h1 style="margin: 0;">{{ routeNameStorage }}</h1>
    </div>

    <div style="display: flex; align-items: center; margin-right: 20px;">
      <a (click)="showUser()" class="content-login">
        <i class="fa-solid fa-circle-user fa-lg"></i>
        &nbsp;
        {{ usuario }}
        &nbsp;
        <i class="fa-solid fa-chevron-down"></i>
      </a>
      <nz-drawer
        [nzClosable]="false"
        [nzVisible]="showSidebar"
        nzPlacement="right"
        (nzOnClose)="close()"
      >
      <ng-container *nzDrawerContent>
        <div class="row">
          <div class="col-md-3">
            <div class="container-icon text-center text-dark">
              <i id="icon" class="fas fa-user fa-3x"></i>
            </div>
          </div>

          <div class="col-md-9">
            <h5 class="mt-2">Bienvenido(a):</h5>
            <h5>{{ usuario }}</h5>
          </div>

        </div>

        <div class="row mt-2">
          <h5 class="text-user"><b>Rol: </b><span>{{ rolUsuario }}</span></h5>
          <h5 class="text-user"><b>Sede: </b><span>{{ sedeUsuario }}</span></h5>
        </div>

        <h6 class="font-weight-bold"><b>Último ingreso:</b> {{ fechaUltimoRegistro }}</h6>

        <hr/>

        <div class="row mt-2">

          <div class="text-profile">
            <a (click)="regresarModulos()">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>&nbsp;&nbsp;Cambiar de módulo
            </a>
          </div>

          <br>

          <div class="text-profile">
            <a>
              <i class="fa-solid fa-key"></i>&nbsp;&nbsp;Cambiar Contraseña
            </a>
          </div>

          <br>

          <div class="text-profile">
            <a (click)="cerrarSeccion()">
              <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Cerrar Sesión
            </a>
          </div>

        </div>

      </ng-container>
      </nz-drawer>
    </div>
  </div>
</nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
