.paginacion{
  justify-content: space-between;
  display: flex;
}

.bordered-div {
  position: relative;
  border: 3px solid black;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.bordered-div::before {
  content: "Datos del artículo";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}

.bordered-div-formula{
  position: relative;
  border: 3px solid black;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.bordered-div-formula:before {
  content: "Fórmula";
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 0 5px;
  font-size: 1.1rem;
}
