<div>
  <h4 class="text-white bg-dark p-3 text-center font-weight-bold header-card-login">
    RECUPERAR CONTRASEÑA
  </h4>

  <div class="mt-4">
    <p>Por favor, ingresa tu tipo, número de documento y correo electrónico.</p>
    <p>
      Recibirás un enlace por correo electrónico donde podrás crear una nueva
      contraseña.
    </p>
  </div>
  <div class="p-4 mt-3">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="9">Tipo de Documento</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="15">
          <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Todos"
              class="border border-dark"
            >
              <ng-container>
                <nz-option nzLabel="DNI" nzValue="1"></nz-option>
                <nz-option nzLabel="RUC" nzValue="2"></nz-option>
                <nz-option nzLabel="Carnet de Extranjeria" nzValue="3"></nz-option>
              </ng-container>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="9">Número de documento</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input class="border border-dark" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="9">Correo electrónico</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input class="border border-dark" />
        </nz-form-control>
      </nz-form-item>
      <div class="text-center">
        <a href="auth/recuperar-contrasenia-aviso" class="btn btn-primary d-inline-block mb-2">Enviar</a>
      </div>
    </form>
  </div>
</div>
