<div>
  <h4
    class="text-white bg-dark p-3 text-center font-weight-bold header-card-login"
  >
    AVISO
  </h4>
  <div class="mt-4">
    <p>Estimado usuario, el registro de su cuenta se realizó correctamente.</p>
    <p>
      Recibirás un mensaje por correo electrónico donde podrás visualizar tus
      datos de inicio de sesión, junto con tu rol y sede asignados.
    </p>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary d-inline-block mb-2">Aceptar</a>
  </div>
</div>
