<nz-modal
  [(nzVisible)]="isVisible"
  nzWidth="50%"
  [nzTitle]="modalTitle"
  [nzContent]="modalBody"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
>
  <ng-template class="cabezera" #modalTitle>
    <span>{{ titleModal }}</span>
  </ng-template>

  <ng-template #modalBody>
    <div class="p-3">
      <div class="bordered-div">
        <div class="p-3">
          <div nz-row class="mb-3" [nzGutter]="24" nzAlign="middle">
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" style="text-align: left" nzRequired
                  >Tipo de documento</nz-form-label
                >
                <nz-form-control [nzSpan]="14">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Seleccionar"
                  >
                    <ng-container>
                      <nz-option nzLabel="DNI" [nzValue]="1"></nz-option>
                      <nz-option nzLabel="RUC" [nzValue]="2"></nz-option>
                      <nz-option nzLabel="Carnet de Extrangeria" [nzValue]="3"></nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" style="text-align: left" nzRequired
                  >N° de documento</nz-form-label
                >
                <nz-form-control [nzSpan]="14">
                  <input type="text" nz-input nzPlaceHolder="N° de Documento"/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" style="text-align: left" nzRequired
                  >Nombres</nz-form-label
                >
                <nz-form-control [nzSpan]="14">
                  <input type="text" nz-input nzPlaceHolder="Nombres" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" style="text-align: left" nzRequired
                  >Apellidos</nz-form-label
                >
                <nz-form-control [nzSpan]="14">
                  <input type="text" nz-input nzPlaceHolder="Apellidos" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="24" nzLg="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Correo electrónico</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input type="text" nz-input nzPlaceHolder="Correo electronico" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Fecha de Nacimiento</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker
                    [(ngModel)]="date"
                    (ngModelChange)="onChange($event)"
                    class="w-100"
                  ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Sexo</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Seleccionar"
                    formControlName="cboAnio"
                  >
                    <ng-container>
                      <nz-option nzLabel="data.Text" [nzValue]="0"></nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-label [nzSpan]="9">N° telefónico</nz-form-label>
              <div nz-row>
                <div nz-col nzXs="24" nzMd="5" nzLg="5">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="22">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="+"
                      >
                        <nz-select
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Seleccionar"
                        >
                          <ng-container *ngFor="let country of countries">
                            <nz-option
                              [nzLabel]="getCallingCode(country)"
                              [nzValue]="getCallingCode(country)"
                            ></nz-option>
                          </ng-container>
                        </nz-select>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="19" nzLg="19">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                      <input type="text" nz-input nzPlaceHolder="Número"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24">Estado Civil</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar">
                    <ng-container>
                      <nz-option nzLabel="data.Text" [nzValue]="0"></nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzMd="24" nzLg="24">
              <nz-form-item>
                <nz-form-label
                  >Dirección de domicilio</nz-form-label
                >
                <nz-form-control [nzSpan]="24">
                  <input type="text" nz-input nzPlaceHolder="Direccon" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div style="text-align: center">
      <button nz-button nzType="primary" (click)="showConfirm()">
        Guardar
      </button>
      <button nz-button nzType="default" (click)="handleCancel()">
        Cancelar
      </button>
    </div>
  </ng-template>
</nz-modal>
