<div style="text-align: end;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Seguridad</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span>Mantenimiento</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Asignación de roles</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<br>

<div class="p-3">
  <div nz-row [nzGutter]="{ xs: 24, sm: 24, md: 12, lg: 12 }">
    <div nz-col class="gutter-row" [nzSpan]="18">
      <div class="inner-box">
        <div class="bordered-div">
          <div class="p-3">
            <div nz-row class="mb-3" [nzGutter]="24">
              <div nz-col nzXs="24" nzMd="24" nzLg="24">
                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="5"
                    style="text-align: left"
                  >Rol</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <input type="text" nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <!-- <div nz-col nzXs="24" nzMd="24" nzLg="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="5" style="text-align: left"
                    >Estado</nz-form-label
                  >
                  <nz-form-control [nzSpan]="19">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Todos">
                      <ng-container>
                        <nz-option
                          nzLabel="data.Text"
                          [nzValue]="0"
                        ></nz-option>
                      </ng-container>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div nz-row class="d-grid p-2">
        <div nz-col class="d-grid">
          <button class="btn btn-primary">
            <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Buscar
          </button>
        </div>
      </div>

      <div nz-row class="d-grid p-2">
        <div nz-col class="d-grid">
          <button class="btn btn-secondary">
            <i class="fa-solid fa-eraser"></i>&nbsp;&nbsp;Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <h4>Resultado del listado de roles:</h4>

  <div class="p-3">
    <nz-table
      #nzTable
      nzTableLayout="fixed"
    >
      <thead>
        <tr>
          <th nzWidth="20%">Código</th>
          <th nzWidth="60%">Rol</th>
          <th style="text-align: center" nzWidth="20%">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>004</td>
          <td>Administrador</td>
          <td style="text-align: center">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Asignar"
              [routerLink]="['../asignar-permisos']"
            >
              <i class="fas fa-file-circle-plus"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>003</td>
          <td>Asistente de producción</td>
          <td style="text-align: center">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Asignar"
              [routerLink]="['../asignar-permisos']"
            >
              <i class="fas fa-file-circle-plus"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>001</td>
          <td>Asistente administrativo</td>
          <td style="text-align: center">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Asignar"
              [routerLink]="['../asignar-permisos']"
            >
              <i class="fas fa-file-circle-plus"></i>
            </button>

          </td>
        </tr>
      </tbody>

    </nz-table>

    <div class="d-flex justify-content-between mt-5">
      <nz-pagination
        [nzPageIndex]="3"
        [nzTotal]="500"
        nzShowSizeChanger
        [nzPageSize]="10"
      ></nz-pagination>
      <span>Cantidad de registros {{ index }} - {{ sizePagination }}</span>
    </div>
  </div>
</div>

